/* Estilos CSS personalizados */
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.navbar.navbar-custom {
    background-color: #0dcaf0; /* Aumenta la especificidad del selector */
}

.navbar-custom .navbar-brand img {
    max-height: 30px; /* Ajusta el tamaño del logo según sea necesario */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand img {
    color: white !important; /* Cambia el color del texto y del logo a blanco */
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important; /* Cambia el color de los enlaces del menú a blanco */
}

/*-------Quienes somos---------*/
#quienes-somos .bg-custom {
    background-color: #0dcaf0; /* Fondo de color para el favicon */
    padding: 5px;
    margin-bottom: 20px;
    color: white;
}

#quienes-somos .text-custom {
    background-color: black; /* Fondo de color para el texto */
    color: white; /* Color de texto blanco */
    padding: 10px; /* Espaciado para el texto */
    margin-top: 10px; /* Espaciado superior para separar del favicon */
}

#quienes-somos h2 {
    color: white; /* Color de texto blanco */
}

/*--------Destacados------*/
.bg-custom {
    background-color: #0dcaf0; /* Color de fondo de las tarjetas */
}

.text-white {
    color: white; /* Color del texto */
}

.card {
    height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
}
