/* Estilos CSS personalizados */
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.navbar.navbar-custom {
    background-color: #0dcaf0; 
}

.navbar-custom .navbar-brand img {
    max-height: 30px; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand img {
    color: white !important; 
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important; 
}

/*-------Quienes somos---------*/
#quienes-somos .bg-custom {
    background-color: #0dcaf0; 
    padding: 5px;
    margin-bottom: 20px;
    color: white;
}

#quienes-somos .text-custom {
    background-color: black; 
    color: white; 
    padding: 10px; 
    margin-top: 10px; 
}

#quienes-somos h2 {
    color: white; 
}

/*--------Destacados------*/
.bg-custom {
    background-color: #0dcaf0; 
}

.text-white {
    color: white; 
}

.card {
    height: 100%; 
}
